@import '_color'
@font-face  
    font-family: 'yrzt'
    src: url('../fonts/fzsek.ttf')
// 首页
.section-a
    padding-top: 21px
    padding-bottom: 10px
    .case
        .case-child
            margin-bottom: 34px
            text-align: center
            a
                position: relative
                width: 100%
                &:hover
                    p
                        background: rgba($yellow,.9)
                        color: $green
                        font-weight: bold
                p
                    position: absolute
                    width: 100%
                    bottom: 0
                    left: 0
                    height: 50px
                    line-height: 50px
                    font-size: 16px
                    text-align: center
                    background: rgba($green,.9)
                    color: #ffffff
                    @media (max-width: 699px)
                        font-size: 14px
                        height: 32px
                        line-height: 32px
                img
                    @media (max-width: 1199px)
                        width: 100%
                    @media (min-width: 550px) and (max-width: 759px)
                        width: auto
                        
        h2
            font-size: 20px
            @media (max-width: 999px)
                padding-bottom: 10px
            @media (min-width: 1000px)
                ine-height: 44px
                height: 44px
            @media (min-width: 1200px)
                font-size: 22px
                height: 70px
                line-height: 70px
        .kuaibao-1,.kuaibao-2
            h2
                color: $green
            h2,p
                @media (min-width: 1000px)
                    background: $grey
            p
                line-height: 28px
                font-size: 15px
                @media (min-width: 1000px)
                    padding-left: 18px
                    padding-right: 18px
                @media (min-width: 1200px)
                    padding-left: 24px
                    padding-right: 24px
                    line-height: 32px
                    font-size: 16px
            .more
                margin-right: 24px
                @media (min-width: 1000px)
                    margin-top: -30px
                @media (min-width: 1200px)
                    margin-top: -42px
            h2
                @media (min-width: 1000px)
                    padding-left: 18px
                    padding-right: 18px
                @media (min-width: 1200px)
                    padding-left: 24px
                    padding-right: 24px
            .p-1
                @media (min-width: 1000px)
                    padding-top: 5px
                @media (min-width: 1200px)
                    padding-top: 10px
            .p-2
                @media (min-width: 1000px)
                    padding-bottom: 5px
                @media (min-width: 1200px)
                    padding-bottom: 22px
            .p-3
                @media (min-width: 1000px)
                    padding-top: 10px
            .p-4
                @media (min-width: 1000px)
                    padding-bottom: 27px
                @media (min-width: 1200px)
                    padding-bottom: 22px
            .p-6
                @media (min-width: 1000px)
                    padding-top: 5px
                    padding-bottom: 5px
                @media (min-width: 1200px)
                    padding-top: 20px
                    padding-bottom: 50px
                a
                    float: right
                    margin-top: 0
            &:hover
                @media (min-width: 1000px)
                    h2
                        background: $yellow
                        color: $green
                        transition: all 0.3s
                        
                    p
                        background: $green
                        color: #ffffff
                        transition: all 0.3s
                    .p-6
                        a
                            color: #ffffff
        .kb-img
            @media (max-width: 449px)
                width: 100%
            @media (max-width: 999px)
                margin: 0 auto
                display: block
                padding-bottom: 20px
            @media (min-width: 1000px) and (max-width: 1199px)
                width: 100%
.section-b
    padding-top: 0
.case-kuaibao
    padding-top: 32px
.shili
    padding-top: 20px
// 集团实力页
.about-a
    padding-top: 15px
    img
        margin: 0 auto
        display: block
.about-b
    padding-bottom: 32px
    p
        font-size: 16px
        line-height: 32px
    img
        @media (max-width: 1199px)
            padding-bottom: 10px
            font-size: 14px
        @media (max-width: 599px)
            width: 100%
.about-c
    img
        @media (max-width: 1199px)
            width: 100%
        @media (max-width: 499px)
            padding-bottom: 10px
.about-d
    padding-top: 24px
    img
        @media (max-width: 1199px)
            width: 100%
    .title-a
        @media (max-width: 500px)
            width: 100% !important
    p
        font-size: 16px
        line-height: 30px
        padding-top: 1px
        padding-bottom: 12px
        @media (max-width: 499px)
            font-size: 14px
        span
            font-weight: bold
    .sl
        img
            padding-bottom: 20px
            padding-top: 10px
// 联系我们
.contact-a
    .contact-b
        text-align: center
        background: $green
        padding-top: 6px
        padding-bottom: 6px
        @media (min-width: 1000px)
            padding-top: 15px
            padding-bottom: 15px
        i
            font-size: 24px
    .contact-tel-a
        margin-bottom: 8px
        @media (min-width: 1000px)
            margin-bottom: 0
        p,span
            text-align: center
            font-size: 16px
            @media (max-width: 450px)
                font-size: 13px
        span
            font-weight: bold
        p
            padding-top: 8px
            padding-bottom: 5px
        &:hover
            p,span
                color: $green
            .contact-b
                background: #ffffff
                border: 1px solid $green
                margin-top: -1px
                margin-bottom: -1px
                .icsc-env:before,.icsc-local:before,.icsc-tel:before
                    color: $green
                    font-weight: bold
.contact-map
    img
        padding-top: 15px
        padding-bottom: 13px
.contact-d
    padding-top: 30px
    img
        padding-bottom: 3px
    p
        padding-top: 22px
        border-top: 1px solid #e3e3e3
    form
        padding-top: 26px
        .label,label,option,select
            color: #5d5d5d
            font-weight: normal
        .province
            @media (min-width: 1200px)
                width: 49%
                float: left
        .city
            @media (min-width: 1200px)
                width: 49%
                float: right
        .input
            border-radius: 0
            box-shadow: none
        .button
            border-radius: 0
            background: $green
            color: #ffffff
            font-size: 16px
            padding: 9px 30px
        .form-group 
            .label
                @media (min-width: 1200px)
                    text-align: left !important
                    width: 10% !important
        .form-button
            @media (min-width: 1200px)
                margin-left: 10% !important
// 产品中心
.product-a
    padding-top: 20px
    .chanpin
        margin: 0 auto
        display: block
        padding-bottom: 30px
        padding-top: 5px
        @media (max-width: 449px)
            width: 100%
    a
        position: relative
        width: 100%
        p
            position: absolute
            width: 100%
            line-height: 36px
            height: 36px
            text-align: center
            bottom: 0
            background: rgba($green,.9)
            color: #ffffff
            @media (max-width: 759px)
                height: 30px
                line-height: 30px
                font-size: 14px
        img
            @media (max-width: 1199px)
                width: 100%
        &:hover
            p
                background: $yellow
                color: $green
                font-weight: bold
    .product-a-1
        margin-bottom: 26px
// 产品中心内页
.product-b
    .daohang
        padding-top: 20px
        a
           &:hover
               color: $green
    .pro-intro
        padding-top: 20px
        @media (min-width: 1200px)
            padding-top: 40px
        img
            border: 1px solid #e8e8e8
            margin-bottom: 10px
            @media (min-width: 1000px)
                width: 100%
            @media (max-width: 699px)
                width: 100%
        h1
            color: $green
            padding-bottom: 18px
            @media (max-width: 1199px)
                font-size: 20px
        p
            font-size: 16px
            line-height: 34px
            @media (min-width: 1000px) and (max-width: 1199px)
                line-height: 28px
                font-size: 14px
            span
                font-weight: bold
        .zixun
            font-size: 24px
            font-weight: bold
            color: $green
            padding-top: 17px
            padding-bottom: 20px
            @media (max-width: 1199px)
                font-size: 20px
                padding-top: 14px
                padding-bottom: 13px
        .baojia
            padding: 10px 20px
            background: $yellow
            color: $green
            font-size: 16px
            font-weight: bold
            text-align: center
            &:hover
                background: #ffffff
                border: 1px solid $green
                margin-top: -1px
                margin-bottom: -1px
                color: $green
        .baojia-1
            width: 49%
            float: left
        .baojia-2
            width: 49%
            float: right
.product-c
    h1
        padding-top: 66px
        padding-bottom: 15px
        @media (max-width: 1199px)
            font-size: 20px
            padding-top: 30px
    .product-c-1
        p
            font-size: 16px
            line-height: 38px
            padding-top: 10px
            span
                font-weight: bold
        img
            @media (min-width: 1000px) and (max-width: 1199px)
                width: 100%
            @media (max-width: 499px)
                width: 100%
.product-d
    h1
        padding-top: 36px
        padding-bottom: 15px
        @media (max-width: 1199px)
            font-size: 20px
            padding-top: 30px
    table
        text-align: center
        width: 100%
        td
            border: 1px solid $green
        caption
            text-align: left
            font-size: 14px
            font-weight: bold
            padding-bottom: 5px
        .thead
            background: $green
            color: #ffffff
            font-size: 16px
            td
                padding-top: 3px
                padding-bottom: 3px
                line-height: 26px
        .table-a,.table-b
            td
                height: 40px
                line-height: 40px
        .table-b
            background: #dddddd
    .table-2
        margin-top: 10px
        .thead
            td
                height: 50px
                line-height: 50px
        .table-a,.table-b
            td
                height: 28px
                line-height: 28px
    .zhuyi
        @media (max-width: 449px)
            line-height: 24px !important
.product-e
    h1
        padding-top: 30px
        padding-bottom: 25px
    p
        text-align: center
        font-size: 16px
        padding-top: 14px
        padding-bottom: 15px
    a
        &:hover
            p
                color: $green
    img
        @media (max-width: 1199px)
            width: 100%
.product-f
    h1
        padding-top: 20px
        @media (min-width: 760px)
            padding-bottom: 40px
    .prolist
        a
            width: 50%
            float: left
            @media (min-width: 760px)
                width: 20%
                float: left
            &:hover
                img
                    @media (min-width: 760px)
                        border-top: 3px solid $green
                p
                    color: $green
            img
                margin: 0 auto
                display: block
                padding-top: 25px
                @media (min-width: 760px)
                    border-top: 3px solid #ffffff
            p
                text-align: center
                padding-top: 20px
                padding-bottom: 10px
.product-message
    h1
        padding-bottom: 12px
    p
        padding-top: 27px
// 新闻中心
.news-a
    padding-top: 15px
    padding-bottom: 15px
    h2
        @media (min-width: 1000px) and (max-width: 1199px)
            line-height: 44px
            height: 44px
    img
        margin: 0 auto
        display: block
    .p-4
        @media (min-width: 1000px) and (max-width: 1199px)
            padding-top: 15px !important
            padding-bottom: 10px !important
        @media (min-width: 1200px)
            padding-top: 28px !important
    a
        &:hover
            p
                @media (max-width: 999px)
                    color: $green
.news-c
    padding-top: 33px
    a
        &:hover
            h4
                color: $green
            p
                color: #333333
    h4
        font-size: 16px
        font-weight: normal
        padding-bottom: 11px
    p
        line-height: 28px
    .news-date
        background: $green
        color: #ffffff
        padding: 12px
        width: 98px
        float: right
        @media (max-width: 999px)
            display: none
    .date-a
        font-size: 36px
        font-weight: bold
        text-align: center
        padding-bottom: 6px
    .date-b
        font-size: 16px
        text-align: center
.pager
    padding-top: 35px
    li
        a
            border-radius: 0
            @media (min-width: 500px)
                padding: 6px 32px
                margin-left: 5px
                margin-right: 5px
.xinwenkuaibao,.touzikuaibao
    @media (max-width: 529px)
        width: 100%

// 新闻中心内页
.news-article-a
    h2
        font-size: 22px
        text-align: center
        padding-top: 30px
    .date-date
        text-align: center
        padding-top: 18px
        padding-bottom: 21px
    .daodu
        line-height: 32px
        padding: 12px 16px
        background: #fbfbfb
        text-indent: 2em
        font-size: 16px
        span
            font-weight: bold
    .news-img
        padding-top: 14px
        img
            padding-bottom: 30px
            @media (max-width: 1199px)
                width: 100%
    .yuji
        font-size: 16px
        line-height: 32px
        text-indent: 2em
        padding-top: 7px
    .news-span
        font-size: 16px
        text-indent: 3em
        padding-top: 45px
        font-weight: bold
        @media (max-width: 1199px)
            padding-top: 10px
    .news-content
        font-size: 16px
        line-height: 32px
        text-indent: 2em
    .news-5
        margin: 0 auto
        display: block
        padding-top: 15px
        @media (max-width: 599px)
            width: 100%
    .news-span-a
        text-indent: 0
    .news-c-a
        text-indent: 0
    .news-react
        padding-top: 17px
        h4
            font-size: 16px
            padding-bottom: 10px
            padding-top: 20px
        a
            p
                line-height: 45px
                font-size: 16px
            &:hover
                p
                    color: $green
            span
                padding-left: 20%
                @media (max-width: 529px)
                    display: none
        
// 案例中心
.case-1
    margin: 0 auto
    display: block
    padding-top: 30px
    padding-bottom: 20px
    @media (max-width: 500px)
        width: 100%
.case-a
    .case-a-1
        margin-bottom: 20px
        img
            @media (max-width: 1199px)
                width: 100%
    .case-b
        margin-top: 10px
        margin-bottom: 10px
        background: #f8f8f8
        padding-top: 15px
        padding-bottom: 15px
        h3
            font-size: 16px
            text-align: center
            color: $green
            padding-bottom: 5px
        p
            text-align: center
            line-height: 30px
            span
                font-weight: bold
    .case-detail
        text-align: center
        background: $green
        padding-top: 10px
        padding-bottom: 10px
        font-size: 16px
        font-weight: bold
        color: #ffffff
        &:hover
            background: $yellow
            color: $green
    .read-more
        font-size: 16px
        font-weight: bold
        text-align: center
        color: $green
        border: 1px solid $green
        padding-top: 9px
        padding-bottom: 9px
        margin-top: 12px
        margin-bottom: 15px
        a
            color: $green
            &:hover
                color: $green

// 案例中心内页
.case-img
    width: auto !important
.product-b
    .case-article-a 
        .baojia
            background: $green !important
            color: #ffffff !important
            padding: 10px 35px
            @media (min-width: 655px) and (max-width: 1199px)
                padding: 10px 120px
            @media (min-width: 1200px)
                padding: 10px 144px
        .baojia-1
            width: auto
            &:hover
                background: #ffffff !important
                color: $green !important
        .baojia-2
            width: auto
            &:hover
                background: #ffffff !important
                color: $green !important
.pz-c
    width: 20%
    float: left
.pz-a,.pz-b
    width: 40%
    float: left
    img
        margin: 0 auto
        display: block
        @media (max-width: 400px)
            width: 100% !important
    a
        p
            font-size: 14px !important
            text-align: center
        &:hover
            p
                color: $green
.case-article-b
    padding-top: 35px
    h1
        font-size: 22px
        padding-bottom: 30px
    p
        font-size: 16px
        line-height: 32px
        text-indent: 2em